@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    color: #333;
    background-color: #f8f9fa;
    line-height: 1.6;
}

header {
    background-color: #212529;
    padding: 40px 0;
    text-align: center;
    color: #fff;
}

header p {
    color: #fff
}

nav {
    background-color: #343a40;
    color: #fff;
    padding: 15px 0;
}

nav ul {
    list-style-type: none;
    padding: 0;
    text-align: center;
}

nav ul li {
    display: inline;
    margin: 0 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    transition: color 0.3s ease;
}

nav ul li a:hover {
    color: #007bff;
}

#cta-button {
    display: block;
    width: 200px;
    height: 50px;
    margin: 20px auto;
    background-color: #007bff;
    color: #fff;
    text-align: center;
    line-height: 50px;
    border-radius: 25px;
    font-size: 16px;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#cta-button:hover {
    background-color: #0056b3;
}

#about,
#services,
#contact {
    padding: 20px;
    margin-top: 30px;
    background-size: cover;
    background-position: center;
}

.section-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.text-content {
    flex: 1;
    margin-right: 20px;
}

.img-content {
    flex: 1;
    margin-left: 20px;
}

.img-content img {
    max-width: 100%;
    border-radius: 5px;
}

h2 {
    font-size: 30px;
    margin-bottom: 20px;
    color: #212529;
    font-weight: 700;
}

p {
    font-size: 18px;
    margin-bottom: 20px;
    color: #212529;
    font-weight: 400;
}

.contact-form {
    display: flex;
    flex-direction: column;
    max-width: 600px;
    margin: 0 auto;
}

.contact-form label {
    font-size: 16px;
    margin-bottom: 5px;
    font-weight: 500;
}

.contact-form input,
.contact-form textarea {
    font-size: 16px;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 1px solid #ced4da;
}

.contact-form button {
    display: block;
    width: 200px;
    height: 50px;
    margin: 20px auto;
    background-color: #007bff;
    color: #fff;
    text-align: center;
    line-height: 50px;
    border-radius: 25px;
    font-size: 16px;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.contact-form button:hover {
    background-color: #0056b3;
}